USE [QLDatPhongKS_AnPhu]
GO
/****** Object:  Table [dbo].[CALAM]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALAM](
	[MaCa] [int] IDENTITY(1,1) NOT NULL,
	[TenCa] [nvarchar](50) NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATPHONG]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATPHONG](
	[MaCTDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaDatPhong] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[DonGiaDuKien] [decimal](18, 0) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHATSINH]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHATSINH](
	[MaCTPS] [int] IDENTITY(1,1) NOT NULL,
	[MaThue] [int] NOT NULL,
	[MaDVVT] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[ThoiDiemSuDung] [datetime] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaDatPhong] [int] NULL,
	[MaPhong] [int] NULL,
	[MaNV] [int] NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHUTHU]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHUTHU](
	[MaCTPT] [int] IDENTITY(1,1) NOT NULL,
	[MaThue] [int] NOT NULL,
	[MaPhuThu] [int] NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[LyDo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[NoiDung] [nvarchar](150) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](18, 2) NOT NULL,
	[MaDVVT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATPHONG]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATPHONG](
	[MaDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[MaDoan] [int] NULL,
	[LoaiDat] [nvarchar](30) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[NgayNhanDuKien] [datetime] NOT NULL,
	[NgayTraDuKien] [datetime] NOT NULL,
	[TienCoc] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[SoNguoi] [int] NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[LoaiDatPhong] [nvarchar](100) NULL,
	[DatCoc] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVUVATTU]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUVATTU](
	[MaDVVT] [int] IDENTITY(1,1) NOT NULL,
	[TenDVVT] [nvarchar](100) NOT NULL,
	[Loai] [nvarchar](30) NOT NULL,
	[DonViTinh] [nvarchar](20) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[TonToiThieu] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDVVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANKHACH]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANKHACH](
	[MaDoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDoan] [nvarchar](100) NOT NULL,
	[TruongDoan] [nvarchar](100) NULL,
	[SDTTruongDoan] [nvarchar](15) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOIPHONG]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOIPHONG](
	[MaDoiPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaThue] [int] NOT NULL,
	[MaPhongCu] [int] NOT NULL,
	[MaPhongMoi] [int] NOT NULL,
	[ThoiDiemDoi] [datetime] NOT NULL,
	[LyDo] [nvarchar](255) NOT NULL,
	[ChenhLechTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaThue] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[TongTienPhong] [decimal](18, 2) NOT NULL,
	[TongTienDV] [decimal](18, 2) NOT NULL,
	[TongPhuThu] [decimal](18, 2) NOT NULL,
	[GiamGia] [decimal](18, 2) NOT NULL,
	[TienCoc] [decimal](18, 2) NOT NULL,
	[TongThanhToan] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[MaKH] [int] NULL,
	[DaThanhToan] [decimal](18, 0) NOT NULL,
	[PhuongThuc] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[CCCD] [nvarchar](20) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[LoaiKhach] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[PhanTramGiamGia] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MaLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NOT NULL,
	[SoNguoiToiDa] [int] NOT NULL,
	[DonGiaGio] [decimal](18, 2) NOT NULL,
	[DonGiaDem] [decimal](18, 2) NOT NULL,
	[TienCocGoiY] [decimal](18, 2) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[DonGiaNgay] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONGCA]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONGCA](
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaCa] [int] NOT NULL,
	[NgayLam] [date] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MaThue] [int] IDENTITY(1,1) NOT NULL,
	[MaDatPhong] [int] NULL,
	[MaKH] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaPhong] [int] NOT NULL,
	[MaDoan] [int] NULL,
	[NgayNhan] [datetime] NOT NULL,
	[NgayTraDuKien] [datetime] NULL,
	[SoNguoi] [int] NOT NULL,
	[TienCoc] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[NgayTraPhong] [datetime] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[Tang] [int] NULL,
	[MaLoaiPhong] [int] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUTHU]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUTHU](
	[MaPhuThu] [int] IDENTITY(1,1) NOT NULL,
	[TenPhuThu] [nvarchar](100) NOT NULL,
	[TyLe] [decimal](5, 2) NULL,
	[SoTienCoDinh] [decimal](18, 2) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/2/2026 9:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](30) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[MaNV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CALAM] ON 

INSERT [dbo].[CALAM] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [GhiChu]) VALUES (1, N'Ca sáng', CAST(N'06:00:00' AS Time), CAST(N'14:00:00' AS Time), N'Ca làm buổi sáng')
INSERT [dbo].[CALAM] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [GhiChu]) VALUES (2, N'Ca chiều', CAST(N'14:00:00' AS Time), CAST(N'22:00:00' AS Time), N'Ca làm buổi chiều')
INSERT [dbo].[CALAM] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [GhiChu]) VALUES (3, N'Ca đêm', CAST(N'22:00:00' AS Time), CAST(N'06:00:00' AS Time), N'Ca trực đêm')
SET IDENTITY_INSERT [dbo].[CALAM] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETDATPHONG] ON 

INSERT [dbo].[CHITIETDATPHONG] ([MaCTDatPhong], [MaDatPhong], [MaPhong], [DonGiaDuKien], [GhiChu]) VALUES (1, 4, 2, CAST(450000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[CHITIETDATPHONG] ([MaCTDatPhong], [MaDatPhong], [MaPhong], [DonGiaDuKien], [GhiChu]) VALUES (2, 5, 3, CAST(650000 AS Decimal(18, 0)), NULL)
INSERT [dbo].[CHITIETDATPHONG] ([MaCTDatPhong], [MaDatPhong], [MaPhong], [DonGiaDuKien], [GhiChu]) VALUES (3, 6, 1, CAST(80000 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[CHITIETDATPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETPHATSINH] ON 

INSERT [dbo].[CHITIETPHATSINH] ([MaCTPS], [MaThue], [MaDVVT], [SoLuong], [DonGia], [ThanhTien], [ThoiDiemSuDung], [GhiChu], [MaDatPhong], [MaPhong], [MaNV], [TrangThai]) VALUES (1, 1, 1, 2, CAST(10000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), CAST(N'2026-05-31T10:40:06.360' AS DateTime), N'Khách dùng 2 chai nước', NULL, NULL, NULL, 1)
INSERT [dbo].[CHITIETPHATSINH] ([MaCTPS], [MaThue], [MaDVVT], [SoLuong], [DonGia], [ThanhTien], [ThoiDiemSuDung], [GhiChu], [MaDatPhong], [MaPhong], [MaNV], [TrangThai]) VALUES (2, 1, 3, 1, CAST(20000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), CAST(N'2026-05-31T10:40:06.360' AS DateTime), N'Khách dùng 1 mì ly', NULL, NULL, NULL, 1)
INSERT [dbo].[CHITIETPHATSINH] ([MaCTPS], [MaThue], [MaDVVT], [SoLuong], [DonGia], [ThanhTien], [ThoiDiemSuDung], [GhiChu], [MaDatPhong], [MaPhong], [MaNV], [TrangThai]) VALUES (5, 2, 3, 1, CAST(20000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), CAST(N'2026-05-31T11:42:00.083' AS DateTime), NULL, 4, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[CHITIETPHATSINH] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] ON 

INSERT [dbo].[CHITIETHOADON] ([MaCTHD], [MaHD], [NoiDung], [SoLuong], [DonGia], [ThanhTien], [MaDVVT]) VALUES (1, 1, N'Tiền phòng đơn 1 đêm', 1, CAST(450000.00 AS Decimal(18, 2)), CAST(450000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[CHITIETHOADON] ([MaCTHD], [MaHD], [NoiDung], [SoLuong], [DonGia], [ThanhTien], [MaDVVT]) VALUES (2, 1, N'Nước suối 500ml', 2, CAST(10000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[CHITIETHOADON] ([MaCTHD], [MaHD], [NoiDung], [SoLuong], [DonGia], [ThanhTien], [MaDVVT]) VALUES (3, 1, N'Mì ly', 1, CAST(20000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[DATPHONG] ON 

INSERT [dbo].[DATPHONG] ([MaDatPhong], [MaKH], [MaNV], [MaPhong], [MaDoan], [LoaiDat], [NgayDat], [NgayNhanDuKien], [NgayTraDuKien], [TienCoc], [TrangThai], [SoNguoi], [GhiChu], [LoaiDatPhong], [DatCoc]) VALUES (1, 1, 2, 1, NULL, N'Đặt trước', CAST(N'2026-05-31T10:40:06.347' AS DateTime), CAST(N'2026-06-01T10:40:06.347' AS DateTime), CAST(N'2026-06-02T10:40:06.347' AS DateTime), CAST(200000.00 AS Decimal(18, 2)), N'Đã xác nhận', NULL, NULL, NULL, CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[DATPHONG] ([MaDatPhong], [MaKH], [MaNV], [MaPhong], [MaDoan], [LoaiDat], [NgayDat], [NgayNhanDuKien], [NgayTraDuKien], [TienCoc], [TrangThai], [SoNguoi], [GhiChu], [LoaiDatPhong], [DatCoc]) VALUES (4, 2, 1, 2, NULL, N'Đặt trước', CAST(N'2026-05-31T11:14:04.167' AS DateTime), CAST(N'2026-05-31T11:20:43.000' AS DateTime), CAST(N'2026-06-01T12:00:00.000' AS DateTime), CAST(270000.00 AS Decimal(18, 2)), N'Đã hủy', 1, NULL, N'Đặt trước', CAST(270000 AS Decimal(18, 0)))
INSERT [dbo].[DATPHONG] ([MaDatPhong], [MaKH], [MaNV], [MaPhong], [MaDoan], [LoaiDat], [NgayDat], [NgayNhanDuKien], [NgayTraDuKien], [TienCoc], [TrangThai], [SoNguoi], [GhiChu], [LoaiDatPhong], [DatCoc]) VALUES (5, 2, 1, 3, NULL, N'Đặt trước', CAST(N'2026-06-01T19:33:52.217' AS DateTime), CAST(N'2026-06-01T19:33:46.490' AS DateTime), CAST(N'2026-06-02T12:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'Đã check-in', 1, NULL, N'Nhận ngay', CAST(0 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DATPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[DICHVUVATTU] ON 

INSERT [dbo].[DICHVUVATTU] ([MaDVVT], [TenDVVT], [Loai], [DonViTinh], [DonGia], [SoLuongTon], [TonToiThieu], [TrangThai], [GhiChu]) VALUES (1, N'Nước suối 500ml', N'Vật tư', N'Chai', CAST(10000.00 AS Decimal(18, 2)), 98, 20, 1, NULL)
INSERT [dbo].[DICHVUVATTU] ([MaDVVT], [TenDVVT], [Loai], [DonViTinh], [DonGia], [SoLuongTon], [TonToiThieu], [TrangThai], [GhiChu]) VALUES (2, N'Nước ngọt', N'Vật tư', N'Lon', CAST(15000.00 AS Decimal(18, 2)), 79, 20, 1, NULL)
INSERT [dbo].[DICHVUVATTU] ([MaDVVT], [TenDVVT], [Loai], [DonViTinh], [DonGia], [SoLuongTon], [TonToiThieu], [TrangThai], [GhiChu]) VALUES (3, N'Mì ly', N'Vật tư', N'Ly', CAST(20000.00 AS Decimal(18, 2)), 59, 20, 1, NULL)
SET IDENTITY_INSERT [dbo].[DICHVUVATTU] OFF
GO
SET IDENTITY_INSERT [dbo].[DOANKHACH] ON 

INSERT [dbo].[DOANKHACH] ([MaDoan], [TenDoan], [TruongDoan], [SDTTruongDoan], [GhiChu]) VALUES (1, N'Đoàn Công ty ABC', N'Trưởng đoàn Công ty ABC', N'0912000003', N'Có thể tách bill theo từng phòng')
SET IDENTITY_INSERT [dbo].[DOANKHACH] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MaHD], [MaThue], [MaNV], [NgayLap], [TongTienPhong], [TongTienDV], [TongPhuThu], [GiamGia], [TienCoc], [TongThanhToan], [TrangThai], [MaKH], [DaThanhToan], [PhuongThuc], [GhiChu]) VALUES (1, 1, 2, CAST(N'2026-05-31T10:40:06.363' AS DateTime), CAST(450000.00 AS Decimal(18, 2)), CAST(40000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), CAST(290000.00 AS Decimal(18, 2)), N'Đã thanh toán', NULL, CAST(0 AS Decimal(18, 0)), NULL, NULL)
INSERT [dbo].[HOADON] ([MaHD], [MaThue], [MaNV], [NgayLap], [TongTienPhong], [TongTienDV], [TongPhuThu], [GiamGia], [TienCoc], [TongThanhToan], [TrangThai], [MaKH], [DaThanhToan], [PhuongThuc], [GhiChu]) VALUES (2, 2, 1, CAST(N'2026-05-31T11:43:12.600' AS DateTime), CAST(450000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), CAST(135000.00 AS Decimal(18, 2)), CAST(58500.00 AS Decimal(18, 2)), CAST(270000.00 AS Decimal(18, 2)), CAST(316500.00 AS Decimal(18, 2)), N'Đã thanh toán', NULL, CAST(1 AS Decimal(18, 0)), NULL, NULL)
INSERT [dbo].[HOADON] ([MaHD], [MaThue], [MaNV], [NgayLap], [TongTienPhong], [TongTienDV], [TongPhuThu], [GiamGia], [TienCoc], [TongThanhToan], [TrangThai], [MaKH], [DaThanhToan], [PhuongThuc], [GhiChu]) VALUES (3, 3, 1, CAST(N'2026-06-02T16:11:50.900' AS DateTime), CAST(650000.00 AS Decimal(18, 2)), CAST(105000.00 AS Decimal(18, 2)), CAST(195000.00 AS Decimal(18, 2)), CAST(84500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(865500.00 AS Decimal(18, 2)), N'Đã thanh toán', NULL, CAST(0 AS Decimal(18, 0)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [GioiTinh], [NgaySinh], [CCCD], [SDT], [Email], [DiaChi], [LoaiKhach], [GhiChu], [PhanTramGiamGia]) VALUES (1, N'Phạm Văn Nam', N'Nam', CAST(N'1995-03-12' AS Date), N'001095000001', N'0912000001', N'nam@gmail.com', N'Thái Bình', N'Thường', NULL, CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [GioiTinh], [NgaySinh], [CCCD], [SDT], [Email], [DiaChi], [LoaiKhach], [GhiChu], [PhanTramGiamGia]) VALUES (2, N'Nguyễn Thị Mai', N'Nữ', CAST(N'1994-07-25' AS Date), N'001094000002', N'0912000002', N'mai@gmail.com', N'Hải Dương', N'VIP', N'Khách quen, ưu tiên phòng yên tĩnh', CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[KHACHHANG] ([MaKH], [HoTen], [GioiTinh], [NgaySinh], [CCCD], [SDT], [Email], [DiaChi], [LoaiKhach], [GhiChu], [PhanTramGiamGia]) VALUES (3, N'Trưởng đoàn Công ty ABC', N'Nữ', CAST(N'1988-11-02' AS Date), N'001088000003', N'0912000003', NULL, N'Hà Nội', N'Thường', N'Liên hệ đặt phòng theo đoàn', CAST(0.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MaLoaiPhong], [TenLoaiPhong], [SoNguoiToiDa], [DonGiaGio], [DonGiaDem], [TienCocGoiY], [MoTa], [DonGiaNgay]) VALUES (1, N'Phòng đơn', 1, CAST(80000.00 AS Decimal(18, 2)), CAST(450000.00 AS Decimal(18, 2)), CAST(200000.00 AS Decimal(18, 2)), N'1 giường đơn, phù hợp khách đi một mình', CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[LOAIPHONG] ([MaLoaiPhong], [TenLoaiPhong], [SoNguoiToiDa], [DonGiaGio], [DonGiaDem], [TienCocGoiY], [MoTa], [DonGiaNgay]) VALUES (2, N'Phòng đôi', 2, CAST(120000.00 AS Decimal(18, 2)), CAST(650000.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), N'1 giường đôi hoặc 2 giường đơn', CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[LOAIPHONG] ([MaLoaiPhong], [TenLoaiPhong], [SoNguoiToiDa], [DonGiaGio], [DonGiaDem], [TienCocGoiY], [MoTa], [DonGiaNgay]) VALUES (3, N'Phòng VIP', 4, CAST(180000.00 AS Decimal(18, 2)), CAST(1200000.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), N'Phòng cao cấp, tiện nghi tốt hơn', CAST(0 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [ChucVu], [TrangThai]) VALUES (1, N'Nguyễn Văn Quản', N'Nam', CAST(N'1990-01-15' AS Date), N'0901000001', N'Hà Nội', N'Quản lý', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [ChucVu], [TrangThai]) VALUES (2, N'Trần Thị Lễ Tân', N'Nữ', CAST(N'1998-06-20' AS Date), N'0901000002', N'Hải Dương', N'Lễ tân', 1)
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [SDT], [DiaChi], [ChucVu], [TrangThai]) VALUES (3, N'Lê Văn Ca Đêm', N'Nam', CAST(N'1997-09-10' AS Date), N'0901000003', N'Hưng Yên', N'Lễ tân', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHANCONGCA] ON 

INSERT [dbo].[PHANCONGCA] ([MaPhanCong], [MaNV], [MaCa], [NgayLam], [GhiChu], [TrangThai]) VALUES (1, 1, 1, CAST(N'2026-05-31' AS Date), N'Quản lý ca sáng', N'Đang hoạt động')
INSERT [dbo].[PHANCONGCA] ([MaPhanCong], [MaNV], [MaCa], [NgayLam], [GhiChu], [TrangThai]) VALUES (2, 2, 2, CAST(N'2026-05-31' AS Date), N'Lễ tân ca chiều', N'Đang hoạt động')
INSERT [dbo].[PHANCONGCA] ([MaPhanCong], [MaNV], [MaCa], [NgayLam], [GhiChu], [TrangThai]) VALUES (3, 3, 3, CAST(N'2026-05-31' AS Date), N'Lễ tân ca đêm', N'Đang hoạt động')
SET IDENTITY_INSERT [dbo].[PHANCONGCA] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUTHUE] ON 

INSERT [dbo].[PHIEUTHUE] ([MaThue], [MaDatPhong], [MaKH], [MaNV], [MaPhong], [MaDoan], [NgayNhan], [NgayTraDuKien], [SoNguoi], [TienCoc], [TrangThai], [NgayTraPhong], [GhiChu]) VALUES (1, 1, 1, 2, 1, NULL, CAST(N'2026-05-31T10:40:06.350' AS DateTime), CAST(N'2026-06-01T10:40:06.350' AS DateTime), 1, CAST(200000.00 AS Decimal(18, 2)), N'Đã trả phòng', CAST(N'2026-06-02T13:55:27.223' AS DateTime), NULL)
INSERT [dbo].[PHIEUTHUE] ([MaThue], [MaDatPhong], [MaKH], [MaNV], [MaPhong], [MaDoan], [NgayNhan], [NgayTraDuKien], [SoNguoi], [TienCoc], [TrangThai], [NgayTraPhong], [GhiChu]) VALUES (2, 4, 2, 1, 2, NULL, CAST(N'2026-05-31T11:19:31.973' AS DateTime), CAST(N'2026-06-01T12:00:00.000' AS DateTime), 1, CAST(270000.00 AS Decimal(18, 2)), N'Đã trả phòng', CAST(N'2026-05-31T11:43:12.743' AS DateTime), NULL)
INSERT [dbo].[PHIEUTHUE] ([MaThue], [MaDatPhong], [MaKH], [MaNV], [MaPhong], [MaDoan], [NgayNhan], [NgayTraDuKien], [SoNguoi], [TienCoc], [TrangThai], [NgayTraPhong], [GhiChu]) VALUES (3, 5, 2, 1, 3, NULL, CAST(N'2026-06-01T19:33:46.490' AS DateTime), CAST(N'2026-06-02T12:00:00.000' AS DateTime), 1, CAST(0.00 AS Decimal(18, 2)), N'Đã trả phòng', CAST(N'2026-06-02T12:40:14.957' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PHIEUTHUE] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([MaPhong], [TenPhong], [Tang], [MaLoaiPhong], [TrangThai], [GhiChu]) VALUES (1, N'101', 1, 1, N'Phòng trống', N'')
INSERT [dbo].[PHONG] ([MaPhong], [TenPhong], [Tang], [MaLoaiPhong], [TrangThai], [GhiChu]) VALUES (2, N'102', 1, 1, N'Có khách', N'')
INSERT [dbo].[PHONG] ([MaPhong], [TenPhong], [Tang], [MaLoaiPhong], [TrangThai], [GhiChu]) VALUES (3, N'201', 2, 2, N'Phòng trống', N'')
SET IDENTITY_INSERT [dbo].[PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[PHUTHU] ON 

INSERT [dbo].[PHUTHU] ([MaPhuThu], [TenPhuThu], [TyLe], [SoTienCoDinh], [MoTa]) VALUES (1, N'Check-in sớm trước 06:00', CAST(50.00 AS Decimal(5, 2)), NULL, N'Tính 50% giá đêm')
INSERT [dbo].[PHUTHU] ([MaPhuThu], [TenPhuThu], [TyLe], [SoTienCoDinh], [MoTa]) VALUES (2, N'Check-in sớm từ 06:00 đến trước 12:00', CAST(30.00 AS Decimal(5, 2)), NULL, N'Tính 30% giá đêm')
INSERT [dbo].[PHUTHU] ([MaPhuThu], [TenPhuThu], [TyLe], [SoTienCoDinh], [MoTa]) VALUES (3, N'Check-out trễ 12:00-15:00', CAST(30.00 AS Decimal(5, 2)), NULL, N'Tính 30% giá đêm')
SET IDENTITY_INSERT [dbo].[PHUTHU] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro], [TrangThai], [MaNV]) VALUES (1, N'admin', N'123', N'Quản lý', 1, NULL)
INSERT [dbo].[TAIKHOAN] ([MaTK], [TenDangNhap], [MatKhau], [VaiTro], [TrangThai], [MaNV]) VALUES (2, N'letan', N'123', N'Nhân viên', 1, NULL)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__A955A0AAD4BCF6AB]    Script Date: 6/2/2026 9:05:14 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOAIPHON__2508179C028BC838]    Script Date: 6/2/2026 9:05:14 PM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD UNIQUE NONCLUSTERED 
(
	[TenLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__CA1930A516B00753]    Script Date: 6/2/2026 9:05:14 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PHANCONGCA]    Script Date: 6/2/2026 9:05:14 PM ******/
ALTER TABLE [dbo].[PHANCONGCA] ADD  CONSTRAINT [UQ_PHANCONGCA] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC,
	[MaCa] ASC,
	[NgayLam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PHONG__AE382B29BD3004B4]    Script Date: 6/2/2026 9:05:14 PM ******/
ALTER TABLE [dbo].[PHONG] ADD UNIQUE NONCLUSTERED 
(
	[TenPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TAIKHOAN__55F68FC04EC27D2B]    Script Date: 6/2/2026 9:05:14 PM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDATPHONG] ADD  DEFAULT ((0)) FOR [DonGiaDuKien]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] ADD  DEFAULT (getdate()) FOR [ThoiDiemSuDung]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] ADD  CONSTRAINT [DF_CHITIETPHATSINH_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[DATPHONG] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DATPHONG] ADD  DEFAULT ((0)) FOR [TienCoc]
GO
ALTER TABLE [dbo].[DATPHONG] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DATPHONG] ADD  DEFAULT ((1)) FOR [SoNguoi]
GO
ALTER TABLE [dbo].[DATPHONG] ADD  DEFAULT ((0)) FOR [DatCoc]
GO
ALTER TABLE [dbo].[DICHVUVATTU] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[DICHVUVATTU] ADD  DEFAULT ((0)) FOR [TonToiThieu]
GO
ALTER TABLE [dbo].[DICHVUVATTU] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DOIPHONG] ADD  DEFAULT (getdate()) FOR [ThoiDiemDoi]
GO
ALTER TABLE [dbo].[DOIPHONG] ADD  DEFAULT ((0)) FOR [ChenhLechTien]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongTienPhong]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongTienDV]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongPhuThu]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TienCoc]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TongThanhToan]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (N'Đã thanh toán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_DaThanhToan]  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (N'Thường') FOR [LoaiKhach]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [PhanTramGiamGia]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT ((0)) FOR [TienCocGoiY]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [DF_LOAIPHONG_DonGiaNgay]  DEFAULT ((0)) FOR [DonGiaNgay]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHIEUTHUE] ADD  DEFAULT (getdate()) FOR [NgayNhan]
GO
ALTER TABLE [dbo].[PHIEUTHUE] ADD  DEFAULT ((1)) FOR [SoNguoi]
GO
ALTER TABLE [dbo].[PHIEUTHUE] ADD  DEFAULT ((0)) FOR [TienCoc]
GO
ALTER TABLE [dbo].[PHIEUTHUE] ADD  DEFAULT (N'Đang thuê') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (N'Phòng trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH]  WITH CHECK ADD  CONSTRAINT [FK_CTPS_DAT] FOREIGN KEY([MaDatPhong])
REFERENCES [dbo].[DATPHONG] ([MaDatPhong])
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] CHECK CONSTRAINT [FK_CTPS_DAT]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH]  WITH CHECK ADD  CONSTRAINT [FK_CTPS_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] CHECK CONSTRAINT [FK_CTPS_NV]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH]  WITH CHECK ADD  CONSTRAINT [FK_CTPS_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] CHECK CONSTRAINT [FK_CTPS_PHONG]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHATSINH_DICHVUVATTU] FOREIGN KEY([MaDVVT])
REFERENCES [dbo].[DICHVUVATTU] ([MaDVVT])
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] CHECK CONSTRAINT [FK_CHITIETPHATSINH_DICHVUVATTU]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHATSINH_PHIEUTHUE] FOREIGN KEY([MaThue])
REFERENCES [dbo].[PHIEUTHUE] ([MaThue])
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] CHECK CONSTRAINT [FK_CHITIETPHATSINH_PHIEUTHUE]
GO
ALTER TABLE [dbo].[CHITIETPHUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHUTHU_PHIEUTHUE] FOREIGN KEY([MaThue])
REFERENCES [dbo].[PHIEUTHUE] ([MaThue])
GO
ALTER TABLE [dbo].[CHITIETPHUTHU] CHECK CONSTRAINT [FK_CHITIETPHUTHU_PHIEUTHUE]
GO
ALTER TABLE [dbo].[CHITIETPHUTHU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHUTHU_PHUTHU] FOREIGN KEY([MaPhuThu])
REFERENCES [dbo].[PHUTHU] ([MaPhuThu])
GO
ALTER TABLE [dbo].[CHITIETPHUTHU] CHECK CONSTRAINT [FK_CHITIETPHUTHU_PHUTHU]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_DVVT] FOREIGN KEY([MaDVVT])
REFERENCES [dbo].[DICHVUVATTU] ([MaDVVT])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_DVVT]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_DOANKHACH] FOREIGN KEY([MaDoan])
REFERENCES [dbo].[DOANKHACH] ([MaDoan])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_DOANKHACH]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_KHACHHANG]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_NHANVIEN]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_PHONG]
GO
ALTER TABLE [dbo].[DOIPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DOIPHONG_PHIEUTHUE] FOREIGN KEY([MaThue])
REFERENCES [dbo].[PHIEUTHUE] ([MaThue])
GO
ALTER TABLE [dbo].[DOIPHONG] CHECK CONSTRAINT [FK_DOIPHONG_PHIEUTHUE]
GO
ALTER TABLE [dbo].[DOIPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DOIPHONG_PHONGCU] FOREIGN KEY([MaPhongCu])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[DOIPHONG] CHECK CONSTRAINT [FK_DOIPHONG_PHONGCU]
GO
ALTER TABLE [dbo].[DOIPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DOIPHONG_PHONGMOI] FOREIGN KEY([MaPhongMoi])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[DOIPHONG] CHECK CONSTRAINT [FK_DOIPHONG_PHONGMOI]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_PHIEUTHUE] FOREIGN KEY([MaThue])
REFERENCES [dbo].[PHIEUTHUE] ([MaThue])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_PHIEUTHUE]
GO
ALTER TABLE [dbo].[PHANCONGCA]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGCA_CALAM] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CALAM] ([MaCa])
GO
ALTER TABLE [dbo].[PHANCONGCA] CHECK CONSTRAINT [FK_PHANCONGCA_CALAM]
GO
ALTER TABLE [dbo].[PHANCONGCA]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGCA_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHANCONGCA] CHECK CONSTRAINT [FK_PHANCONGCA_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_DATPHONG] FOREIGN KEY([MaDatPhong])
REFERENCES [dbo].[DATPHONG] ([MaDatPhong])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_DATPHONG]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_DOANKHACH] FOREIGN KEY([MaDoan])
REFERENCES [dbo].[DOANKHACH] ([MaDoan])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_DOANKHACH]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LOAIPHONG] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETPHATSINH_DonGia] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] CHECK CONSTRAINT [CK_CHITIETPHATSINH_DonGia]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETPHATSINH_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] CHECK CONSTRAINT [CK_CHITIETPHATSINH_SoLuong]
GO
ALTER TABLE [dbo].[CHITIETPHATSINH]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETPHATSINH_ThanhTien] CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETPHATSINH] CHECK CONSTRAINT [CK_CHITIETPHATSINH_ThanhTien]
GO
ALTER TABLE [dbo].[CHITIETPHUTHU]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETPHUTHU_SoTien] CHECK  (([SoTien]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETPHUTHU] CHECK CONSTRAINT [CK_CHITIETPHUTHU_SoTien]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETHOADON_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [CK_CHITIETHOADON_SoLuong]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [CK_CHITIETHOADON_Tien] CHECK  (([DonGia]>=(0) AND [ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [CK_CHITIETHOADON_Tien]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [CK_DATPHONG_LoaiDat] CHECK  (([LoaiDat]=N'Walk-in' OR [LoaiDat]=N'Đặt trước'))
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [CK_DATPHONG_LoaiDat]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [CK_DATPHONG_Ngay] CHECK  (([NgayTraDuKien]>[NgayNhanDuKien]))
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [CK_DATPHONG_Ngay]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [CK_DATPHONG_TienCoc] CHECK  (([TienCoc]>=(0)))
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [CK_DATPHONG_TienCoc]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [CK_DATPHONG_TrangThai] CHECK  (([TrangThai]=N'Đã check-in' OR [TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã xác nhận' OR [TrangThai]=N'Chờ xác nhận'))
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [CK_DATPHONG_TrangThai]
GO
ALTER TABLE [dbo].[DICHVUVATTU]  WITH CHECK ADD  CONSTRAINT [CK_DICHVUVATTU_DonGia] CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[DICHVUVATTU] CHECK CONSTRAINT [CK_DICHVUVATTU_DonGia]
GO
ALTER TABLE [dbo].[DICHVUVATTU]  WITH CHECK ADD  CONSTRAINT [CK_DICHVUVATTU_Loai] CHECK  (([Loai]=N'Vật tư' OR [Loai]=N'Dịch vụ'))
GO
ALTER TABLE [dbo].[DICHVUVATTU] CHECK CONSTRAINT [CK_DICHVUVATTU_Loai]
GO
ALTER TABLE [dbo].[DICHVUVATTU]  WITH CHECK ADD  CONSTRAINT [CK_DICHVUVATTU_Ton] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[DICHVUVATTU] CHECK CONSTRAINT [CK_DICHVUVATTU_Ton]
GO
ALTER TABLE [dbo].[DICHVUVATTU]  WITH CHECK ADD  CONSTRAINT [CK_DICHVUVATTU_TonToiThieu] CHECK  (([TonToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[DICHVUVATTU] CHECK CONSTRAINT [CK_DICHVUVATTU_TonToiThieu]
GO
ALTER TABLE [dbo].[DOIPHONG]  WITH CHECK ADD  CONSTRAINT [CK_DOIPHONG_KhacPhong] CHECK  (([MaPhongCu]<>[MaPhongMoi]))
GO
ALTER TABLE [dbo].[DOIPHONG] CHECK CONSTRAINT [CK_DOIPHONG_KhacPhong]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_Tien] CHECK  (([TongTienPhong]>=(0) AND [TongTienDV]>=(0) AND [TongPhuThu]>=(0) AND [GiamGia]>=(0) AND [TienCoc]>=(0) AND [TongThanhToan]>=(0)))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_Tien]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [CK_HOADON_TrangThai] CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [CK_HOADON_TrangThai]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_GioiTinh] CHECK  (([GioiTinh] IS NULL OR ([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam')))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_GioiTinh]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_KHACHHANG_LoaiKhach] CHECK  (([LoaiKhach]=N'VIP' OR [LoaiKhach]=N'Thường'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_KHACHHANG_LoaiKhach]
GO
ALTER TABLE [dbo].[LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LOAIPHONG_DonGiaDem] CHECK  (([DonGiaDem]>=(0)))
GO
ALTER TABLE [dbo].[LOAIPHONG] CHECK CONSTRAINT [CK_LOAIPHONG_DonGiaDem]
GO
ALTER TABLE [dbo].[LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LOAIPHONG_DonGiaGio] CHECK  (([DonGiaGio]>=(0)))
GO
ALTER TABLE [dbo].[LOAIPHONG] CHECK CONSTRAINT [CK_LOAIPHONG_DonGiaGio]
GO
ALTER TABLE [dbo].[LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LOAIPHONG_SoNguoi] CHECK  (([SoNguoiToiDa]>(0)))
GO
ALTER TABLE [dbo].[LOAIPHONG] CHECK CONSTRAINT [CK_LOAIPHONG_SoNguoi]
GO
ALTER TABLE [dbo].[LOAIPHONG]  WITH CHECK ADD  CONSTRAINT [CK_LOAIPHONG_TienCoc] CHECK  (([TienCocGoiY]>=(0)))
GO
ALTER TABLE [dbo].[LOAIPHONG] CHECK CONSTRAINT [CK_LOAIPHONG_TienCoc]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHANVIEN_GioiTinh] CHECK  (([GioiTinh] IS NULL OR ([GioiTinh]=N'Khác' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Nam')))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NHANVIEN_GioiTinh]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUTHUE_SoNguoi] CHECK  (([SoNguoi]>(0)))
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [CK_PHIEUTHUE_SoNguoi]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUTHUE_TienCoc] CHECK  (([TienCoc]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [CK_PHIEUTHUE_TienCoc]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [CK_PHIEUTHUE_TrangThai] CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Đã trả phòng' OR [TrangThai]=N'Đang thuê'))
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [CK_PHIEUTHUE_TrangThai]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [CK_PHONG_TrangThai] CHECK  (([TrangThai]=N'Đang sửa chữa' OR [TrangThai]=N'Chưa dọn dẹp' OR [TrangThai]=N'Đã đặt' OR [TrangThai]=N'Có khách' OR [TrangThai]=N'Phòng trống'))
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [CK_PHONG_TrangThai]
GO
ALTER TABLE [dbo].[PHUTHU]  WITH CHECK ADD  CONSTRAINT [CK_PHUTHU_SoTien] CHECK  (([SoTienCoDinh] IS NULL OR [SoTienCoDinh]>=(0)))
GO
ALTER TABLE [dbo].[PHUTHU] CHECK CONSTRAINT [CK_PHUTHU_SoTien]
GO
ALTER TABLE [dbo].[PHUTHU]  WITH CHECK ADD  CONSTRAINT [CK_PHUTHU_TyLe] CHECK  (([TyLe] IS NULL OR [TyLe]>=(0)))
GO
ALTER TABLE [dbo].[PHUTHU] CHECK CONSTRAINT [CK_PHUTHU_TyLe]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK_TAIKHOAN_VaiTro] CHECK  (([VaiTro]=N'Nhân viên' OR [VaiTro]=N'Quản lý'))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK_TAIKHOAN_VaiTro]
GO
