<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HotelDb"
         connectionString="Data Source=.;Initial Catalog=QLDPKS_AnPhu;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
